{% extends "base.html" %}

{% block pageName %}Album information{% endblock %}
{% block title %}Album information{% endblock %}

{% block content %}

{{data["html"] | safe}}
<div>
    {% for userComment in comments %}
    <div style = "background: rgba(128, 128, 128, 0.2); border-radius: 5px">
        <style scoped>
            p{
                padding: 0 0 0 5px;
            }
        </style>
        <p style = "padding 5px 0 0 0">{{userComment.userLogin}} {{userComment.date}}</p>
        <p style = "padding 0 0 5px 0">{{userComment.comment}}</p>
    </div>
    {% endfor%}
</div>

<div id="respond" style = "padding: 25px">
    <h3>Leave a Comment</h3>
    <form action="#" method="post" id="commentform">
      <label for="comment" class="required">Your message</label>
      <input type = "text" name = "comment"></input>
      <input name="submit" type="submit" value="Submit comment" />
    </form>
  </div>
{% endblock %}