<doctype html>

<html>
    <head>
      <meta http-equiv="content-type" content="text/html; charset=utf-8">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <title>{% block title %}{% endblock %}</title>

      <style>
        body{
          background-color: #090909;
          padding: 15px 25px 15px 25px;
          color: white;
        }
        .text-center{
          color: red;
        }
        #navbar{

        }

      </style>
    </head>

    <body>
      <script>
        window.onload = function(){
        var client_id = '895ebdcb42a240fd906aebb862a08646';
        var client_secret = 'c415b1d0d68f425191af25f1fa934ea7';

        var authOptions = {
          url: 'https://accounts.spotify.com/api/token',
          headers: {
            'Authorization': 'Basic ' + (new Buffer.from(client_id + ':' + client_secret).toString('base64'))
          },
          form: {
            grant_type: 'client_credentials'
          },
          json: true
        };

        request.post(authOptions, function(error, response, body) {
          if (!error && response.statusCode === 200) {
            var token = body.access_token;
          }
          
        });}
        
</script>
      <div class = "">
          <div class="row" style = "height: 100%">
            <div class="col-lg-2" style = "background-color: #0f172a; position: static;border-radius: 15px;padding: 0px 5px 0px 0px">
              <ul class="nav nav-pills flex-column" style = "margin: 20px 20px 20px 20px">
                <li class="nav-item">
                  <a class="nav-link {% block home %}{% endblock %}" href="/">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link {% block search %}{% endblock %}" href="/search">Search</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link {% block account %}{% endblock %}" href="/account">Account</a>
                </li>
              </ul>
            </div>
            <div class="col-lg-10" style = "background-color: #0f172a;position: static;border-radius: 15px;">
              <h1 style = "padding:20px">{% block pageName %}{% endblock %}</h1>
              {% block content %}
              {% endblock %}
            </div>
            
          </div>
        

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        </div>  
  </body>

</html>